body{
	background:url(../img/img_fondo_dos.jpg) no-repeat 0px 0px;
	background-size:cover;
	background-attachment:fixed;
}

.logotipo{
	width: 9%;
	
}
.lyftlog{
	text-align: center;
	margin-top: 6%;
}

.fnd-blanco{
  background:#fff;
  width:90%;
  background-size: cover; 
  padding: 14% 2%;
}

.sign-in-top-agileinfo{
	text-align: center;
	padding:10px;
	border-bottom:1px solid #c0c0c0;
}

.volver{
	float: left;
	padding-left: 2%;
}


.caja-next{
	background-color: #EB00AA;
	color: #FFFFFF;
	padding: 6% 1%;
	margin-top: 6%;
	text-align:center;
	text-decoration: none;
	border-radius: 3px;
	-webkit-appearance: none;
    cursor: pointer;
}
	
}
.caja-next a{
	text-decoration: none;
	-webkit-appearance: none;
    cursor: pointer;
}
	}
.caja-next:hover{
	background-color: #9300FE;
	color: #FFFFFF;
	padding: 6% 1%;
	margin-top: 6%;
	text-align:center;
	text-decoration: none;
}

 a:hover{
	
	text-decoration: none;
}

.caja-fon{
	border-radius: 4px;
	border-bottom:1px solid #c0c0c0;
}

#error-msg{
	background-color: #25003A;
	border-radius: 4px;
	padding: 3%;
	color: #fff;
}

.sign-in-top-agileinfo p{
	text-align: center;
}

.sign-in-top-agileinfo h2{
	margin-top: 0px;
}


@media (max-width: 479px){

.logotipo{
	width: 25%;
}
.fnd-blanco{
  background:#fff;
  width:100%;
  margin:30px auto;
  background-size: cover; 
}


}	
